#landing {
  height: 95vh;
  width: 100vw;
}

/* Main section of each page */
.main {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

/* Centerpiece in main */
.display {
  z-index: 30;
  transform: translateY(-33%);
}

.display-icon {
  filter: drop-shadow(0 0 10px white);
}
/* Call to action button */
.cta {
  --color: var(--ion-color-secondary);
  --background-color: var(--ion-color-primary-shade);
  --box-shadow: inset 0 0 10px var(--ion-color-tertiary),
    0 0 10px var(--ion-color-tertiary), 0 0 20px var(--ion-color-tertiary);
}

.image-card {
  border-radius: 15px;
  border: 3px solid var(--ion-color-primary);
  padding: 3px;
  background-color: var(--ion-color-medium-tint);
}

.name {
  font-size: 1.4em;
  color: var(--ion-color-primary);
  text-transform: uppercase;
}

.nameplate-icon {
  --color: transparent;
  padding-right: 5px;
}

.nameplate-info {
  --background: var(--ion-color-medium-tint);
}

.myImage {
  border-radius: 15px;
}

.stepperIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-group {
  margin: 5px;
  float: left;
}

.custom-line-css aw-wizard-navigation-bar li::after {
  height: 4px !important;
}

.custom-line-css aw-wizard-navigation-bar {
  width: 100%;
  ul.steps-indicator {
    li {
      div.label {
        color: var(--ion-color-secondary) !important;
      }
      div.step-indicator {
        background-color: var(--ion-color-dark) !important;
      }
    }
    li:after {
      background-color: var(--ion-color-dark) !important;
    }

    li:not(.current):not(.done) {
      div.step-indicator {
        background-color: var(--ion-color-dark) !important;
        box-shadow: 0 0 4px white;
      }
      div.label {
        color: lightslategrey !important;
        text-shadow: 0 0 5px black;
      }
    }
    li:not(.done):after {
      background-color: var(--ion-color-dark) !important;
      box-shadow: 0 0 4px white;
    }
    li.current {
      div.label {
        color: var(--ion-color-tertiary) !important;
        text-shadow: 0 0 4px black;
      }
      div.step-indicator {
        background-color: var(--ion-color-secondary-tint) !important;
      }
    }
    // li.current:after {
    //   background-color: var(--ion-color-secondary-tint) !important;
    // }
    li.done {
      div.step-indicator {
        background-color: var(--ion-color-secondary-shade) !important;
      }
      div.label {
        color: var(--ion-color-secondary-shade) !important;
        text-shadow: 0 0 5px black;
      }
    }
    li.done:after {
      background-color: var(--ion-color-secondary-shade) !important;
    }
  }
}

.list-col {
  padding: 5px;
}

.step-list-title {
  font-size: 1.5em;
  color: var(--ion-color-tertiary);
  text-transform: uppercase;
  display: block;
  margin: auto;
  text-shadow: 0 0 15px var(--ion-text-color);
}

.list {
  border-radius: 15px;
  background-color: transparent;
}

.list-item {
  --background: transparent;
  ion-text {
    text-transform: capitalize;
    color: white;
  }
}

.item-icon {
  color: var(--ion-color-dark);
  padding-right: 15px;
}

.group {
  box-shadow: inset 0 0 88px white, 0 1px 3px black, 0 2px 13px black,
    0 3px 18px black, 0 0 10px black;
  background-color: var(--ion-color-dark-tint);
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
}

.slogan {
  padding-bottom: 55px;
}

.slogan-text {
  color: white;
  font-size: large;
  font-style: italic;
  margin: 0 100px 0 100px;
}

.divider-label {
  --color: var(--ion-color-tertiary);
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  text-transform: uppercase;
}

.divider {
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  display: block;
  box-shadow: inset 0 0 8px white;
  background: transparent;
  margin: auto;
  text-align: center;
}

.white-text {
  color: white;
  text-indent: 20px;
  padding-bottom: 10px;
}
