<ion-content
  class="content"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <div id="landing">
    <div class="main">
      <div class="display">
        <h1>Douglas White</h1>
        <app-flask-bak class="display-icon"></app-flask-bak>
        <h2>Web Application Developer</h2>
      </div>
      <ion-button
        size="large"
        shape="round"
        class="bounceOutDown ion-text-center cta"
        (click)="scrollToId('about')"
      >
        <ion-icon
          size="large"
          color="tertiary"
          button
          name="chevron-down-sharp"
        ></ion-icon>
        Learn More
        <ion-icon
          size="large"
          color="tertiary"
          button
          name="chevron-down-sharp"
        ></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-grid id="about" class="ion-no-padding ion-margin-vertical">
    <ion-row
      class="ion-justify-content-center ion-margin-vertical ion-no-padding"
    >
      <ion-col
        size-xs="12"
        size-sm="12"
        size-m="6"
        size-lg="4"
        size-xl="4"
        class="ion-align-self-center"
      >
        <ion-card class="image-card">
          <ion-grid>
            <ion-row class="ion-justify-content-center ion-text-center">
              <ion-col
                size-xs="12"
                size-sm="12"
                size-md="6"
                size-lg="6"
                size-xl="6"
                class="ion-align-items-center"
              >
                <img
                  height="300"
                  width="300"
                  src="../../assets/me.jpg"
                  class="myImage"
                />
              </ion-col>
              <ion-col
                class="ion-align-self-center"
                size-xs="12"
                size-sm="12"
                size-md="6"
                size-lg="6"
                size-xl="6"
              >
                <div class="nameplate">
                  <ion-item lines="none" class="nameplate-info">
                    <ion-text class="name elevon"> Douglas White </ion-text>
                  </ion-item>
                  <ion-item lines="none" class="nameplate-info">
                    <ion-icon
                      class="nameplate-icon"
                      name="call-sharp"
                    ></ion-icon>

                    <ion-label>512.293.1045</ion-label>
                  </ion-item>
                  <ion-item lines="none" class="nameplate-info">
                    <ion-icon
                      size="small"
                      name="mail-sharp"
                      class="nameplate-icon"
                    ></ion-icon>

                    <ion-label class="ion-text-lowercase"
                      >email@douglaswhite.app</ion-label
                    >
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row
      class="ion-justify-content-center ion-no-padding ion-margin-vertical"
    >
      <ion-col
        size-xs="12"
        size-sm="12"
        size-md="10"
        size-lg="8"
        size-xl="8"
        class="ion-align-items-center ion-align-self-center"
      >
        <ion-card
          id="about"
          class="
            card
            contact-card
            ion-no-padding ion-margin-vertical ion-text-center
          "
        >
          <ion-card-header class="ion-text-center">
            <ion-card-title class="title"> About Douglas </ion-card-title>
            <ion-card-subtitle class="sub-heading">
              IT Career & Background
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-margin-vertical">
            <ion-card class="slogan ion-text-center">
              <ion-text class="slogan-text elevon">
                Much like a chemist, Douglas develops code by blending together
                components from a diverse stock of elements in unique & novel
                ways to synthesize valuable, convenient products.
              </ion-text>
            </ion-card>
            <aw-wizard
              navBarLocation="top"
              navBarLayout="large-filled-symbols"
              [awNavigationMode]
              navigateForward="allow"
              #wizard
              class="custom-line-css"
            >
              <ion-card class="shadow wizzardCard ion-no-margin">
                <aw-wizard-step
                  [stepTitle]="'Frontend'"
                  [awOptionalStep]="true"
                >
                  <ng-template awWizardStepSymbol>
                    <ion-icon
                      class="stepperIcon"
                      size="large"
                      name="person-sharp"
                      color="primary"
                    ></ion-icon>
                  </ng-template>

                  <ion-list lines="none" class="list ion-no-padding ion-margin">
                    <ion-list-header class="list-header ion-text-center">
                      <ion-text class="step-list-title elevon">
                        Frontend Skills</ion-text
                      >
                    </ion-list-header>
                    <ion-grid class="ion-no-padding ion-margin-vertical">
                      <ion-row
                        class="ion-justify-content-center ion-text-center"
                      >
                        <ion-col class="list-col">
                          <ion-item-divider class="divider" color="dark">
                            <ion-text class="divider-label" color="tertiary"
                              >NodeJS</ion-text
                            >
                          </ion-item-divider>
                          <ion-item-group
                            class="
                              group
                              ion-padding-vertical ion-margin-vertical
                            "
                          >
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> Ionic </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> Angular </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> Firebase </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> Stripe & Paypal</ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> Material & Bootstrap </ion-text>
                            </ion-item>
                          </ion-item-group>
                        </ion-col>
                        <ion-col class="list-col">
                          <ion-item-divider class="divider" color="dark">
                            <ion-text class="divider-label" color="tertiary">
                              Developer Tools
                            </ion-text>
                          </ion-item-divider>
                          <ion-item-group
                            class="
                              group
                              ion-padding-vertical ion-margin-vertical
                            "
                          >
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> VS Code </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text>Adobe Creative Cloud </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text>Figma</ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text>Data Studio </ion-text>
                            </ion-item>
                          </ion-item-group>
                        </ion-col>
                        <ion-col class="list-col">
                          <ion-item-divider class="divider" color="dark">
                            <ion-text class="divider-label" color="tertiary">
                              Technologies
                            </ion-text>
                          </ion-item-divider>
                          <ion-item-group
                            class="
                              group
                              ion-padding-vertical ion-margin-vertical
                            "
                          >
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text>Progressive Web Apps </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text>Cross Platform</ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text>Server Side Rendering </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text>Hybrid Native Apps </ion-text>
                            </ion-item>
                          </ion-item-group>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-list>
                  <div class="btn-group">
                    <ion-button
                      color="secondary"
                      shape="round"
                      type="button"
                      class="btn btn-secondary"
                      awNextStep
                    >
                      Continue
                    </ion-button>
                  </div>
                </aw-wizard-step>
                <aw-wizard-step [stepTitle]="'Backend'">
                  <ng-template awWizardStepSymbol>
                    <ion-icon
                      class="stepperIcon"
                      size="large"
                      name="library-sharp"
                      color="primary"
                    ></ion-icon>
                  </ng-template>

                  <ion-list lines="none" class="list ion-no-padding ion-margin">
                    <ion-list-header class="list-header ion-text-center">
                      <ion-text class="step-list-title elevon">
                        Backend Skills</ion-text
                      >
                    </ion-list-header>
                    <ion-grid class="ion-no-padding ion-margin-vertical">
                      <ion-row
                        class="ion-justify-content-center ion-text-center"
                      >
                        <ion-col class="list-col">
                          <ion-item-divider class="divider" color="dark">
                            <ion-text class="divider-label" color="tertiary"
                              >Analytics
                            </ion-text>
                          </ion-item-divider>
                          <ion-item-group
                            class="
                              group
                              ion-padding-vertical ion-margin-vertical
                            "
                          >
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> X-Device user tracking </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> A/B testing </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> user segment customization </ion-text>
                            </ion-item>
                          </ion-item-group>
                        </ion-col>
                        <ion-col class="list-col">
                          <ion-item-divider class="divider" color="dark">
                            <ion-text class="divider-label" color="tertiary">
                              Google Cloud
                            </ion-text>
                          </ion-item-divider>
                          <ion-item-group
                            class="
                              group
                              ion-padding-vertical ion-margin-vertical
                            "
                          >
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> resource scaling </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> InApp & Cloud Messaging </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> edge caching </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> content delivery network </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> serverless functions </ion-text>
                            </ion-item>
                          </ion-item-group>
                        </ion-col>
                        <ion-col class="list-col">
                          <ion-item-divider class="divider" color="dark">
                            <ion-text class="divider-label" color="tertiary">
                              Automation
                            </ion-text>
                          </ion-item-divider>
                          <ion-item-group
                            class="
                              group
                              ion-padding-vertical ion-margin-vertical
                            "
                          >
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> Webhooks </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> continuous integration </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> continuous deployment </ion-text>
                            </ion-item>
                            <ion-item class="list-item"
                              ><ion-icon
                                name="flask-sharp"
                                class="item-icon"
                                size="small"
                              ></ion-icon>
                              <ion-text> Github Actions </ion-text>
                            </ion-item>
                          </ion-item-group>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-list>

                  <div class="btn-group">
                    <ion-button
                      color="secondary"
                      shape="round"
                      type="button"
                      class="btn btn-secondary"
                      awNextStep
                    >
                      Continue
                    </ion-button>
                    <ion-button
                      color="light"
                      shape="round"
                      fill="outline"
                      type="button"
                      class="btn btn-secondary"
                      awPreviousStep
                    >
                      Back
                    </ion-button>
                  </div>
                </aw-wizard-step>
                <aw-wizard-step [stepTitle]="'Background'">
                  <ng-template awWizardStepSymbol>
                    <ion-icon
                      class="stepperIcon"
                      size="large"
                      name="time-sharp"
                      color="primary"
                    ></ion-icon>
                  </ng-template>
                  <div class="ion-padding-horizontal ion-text-center">
                    <ion-text class="step-list-title elevon"
                      >Background</ion-text
                    >
                    <p class="white-text ion-padding-top ion-text-left">
                      Douglas began working in the IT industry at an ISP as a
                      network technician over fifteen years ago. His career path
                      led him to more advanced positions where he found himself
                      working with C-level business leaders as a software sales
                      representative & IT services consultant. Thus, he
                      understands their expectations, how to communicate with
                      them & he knows how to deliver on those expectations.
                    </p>
                  </div>
                  <div class="ion-padding-horizontal ion-text-left">
                    <p class="white-text">
                      Just over 3 years ago, Douglas was presented with a
                      position that provided him the opportunity to learn
                      JavaScript, a long held desire. So, he jumped at the
                      chance and has never looked Back. His ingrained desire to
                      understand how all things work has allowed him to remain
                      at the forefront of the IT industry. A self-starter, he
                      enjoys enjoys working with his peers. Results driven, he
                      truly enjoys the feeling of success such as when when
                      implementing a complex solution that successfully enables
                      a client to make an impact in their market; and he has
                      every intention to continue in that success.
                    </p>
                  </div>

                  <div class="btn-group">
                    <ion-button
                      color="secondary"
                      shape="round"
                      type="button"
                      class="btn btn-secondary"
                      awNextStep
                    >
                      Continue
                    </ion-button>
                    <ion-button
                      color="light"
                      shape="round"
                      fill="outline"
                      type="button"
                      class="btn btn-secondary"
                      awPreviousStep
                    >
                      Back
                    </ion-button>
                  </div>
                </aw-wizard-step>
                <aw-wizard-step [stepTitle]="'Vision'">
                  <ng-template awWizardStepSymbol>
                    <ion-icon
                      class="stepperIcon"
                      size="large"
                      name="trail-sign-sharp"
                      color="primary"
                    ></ion-icon>
                  </ng-template>
                  <div class="ion-padding-horizontal ion-text-center">
                    <ion-text class="step-list-title elevon">Vision</ion-text>
                    <p class="white-text ion-padding-top ion-text-left">
                      Douglas has a lifelong commitment to expanding his
                      skillsets. He has recently been working with SVG, D3,
                      TensorFlow & Actions on Google in order to bring
                      animations, data visualizations, machine learning & voice
                      interactions under his belt.
                    </p>
                  </div>
                  <div class="ion-padding-horizontal ion-text-left">
                    <p class="white-text">
                      Currently, Douglas White is considering new projects &
                      full time work. He welcomes and appreciates your interest
                      to discuss current or upcoming projects & his potential
                      role in helping you achieve results. He resides in
                      Lubbock, TX & will consider local and remote positions. He
                      will also readily entertain relocating to metropolitan
                      areas of Texas.
                    </p>
                  </div>

                  <div class="btn-group">
                    <ion-button
                      color="secondary"
                      shape="round"
                      type="button"
                      class="btn btn-secondary"
                      awResetWizard
                    >
                      Done
                    </ion-button>
                    <ion-button
                      color="light"
                      shape="round"
                      fill="outline"
                      type="button"
                      class="btn btn-secondary"
                      awPreviousStep
                    >
                      Back
                    </ion-button>
                  </div>
                </aw-wizard-step>
              </ion-card>
            </aw-wizard>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button
      id="up"
      [hidden]="!showBackToTopFab"
      class="up"
      size="small"
      (click)="scrollToTop()"
    >
      <ion-icon size="small" name="chevron-up-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-footer class="footer"></app-footer>
</ion-content>
