<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        src="../../../assets/douglaswhitelogo.svg"
        class="header-icon"
      ></ion-icon>
    </ion-buttons>
    <ion-title size="small" class="heading ion-text-lowercase" color="tertiary">
      DouglasWhite.app
    </ion-title>
    <app-toggle slot="end"></app-toggle>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title
        size="large"
        class="heading ion-text-uppercase"
        color="tertiary"
      >
        DouglasWhite.app
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="hero">
    <ng-particles
      [id]="id"
      [url]="particlesURL"
      (particlesLoaded)="particlesLoaded($event)"
    >
    </ng-particles>
    <div class="display">
      <h1>Douglas White</h1>
      <app-flask-bak class="display-icon"></app-flask-bak>
      <h2>Web Application Developer</h2>
    </div>
  </div>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-card class="card-header ion-text-center">
          <ion-card-header>
            <ion-card-title class="title"> About Douglas </ion-card-title>
            <ion-card-subtitle class="sub-heading">
              IT Career Background
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="auto" class="ion-align-self-center">
        <img height="300" src="../../assets/me.jpg" class="my-image" />
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-card class="card">
          <ion-card-content>
            <p class="text">
              Douglas White is a Web Application Developer who uses
              JavaScript libraries to design and develop web apps that look
              great on all mobile devices and desktop platforms by utilizing
              themes that adapt to each platform. He effeciently produces fully
              featured solutions for clients using NodeJS front-end frameworks
              that enable complex features and rapid prototype design. Utilizing
              a tried and true suite of tools and services, his apps are capable
              of deeper market penetration with less churn, in part due to the
              auto scaling capability of backend infrastructure. Caching data on
              a global content delivery network improves his apps'
              responsiveness and reduces operational expenses. Furthermore, his
              apps can be shipped to the app stores and as a progressive web
              app, all from a single code base.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card class="card">
          <ion-card-content>
            <p class="text">
              Just over 3 years ago, he was presented with a position that
              provided him a chance to learn JavaScript. So, he jumped at the
              opportunity and has never looked back. Douglas develops web apps
              using Ionic & Angular web frameworks, Google Cloud Platform and
              Firebase. He has a lifelong commitment to continuing education in
              his field, and has specifically been working with SVG, D3,
              TensorFlow and Actions on Google in order to bring animations,
              data visualizations, machine learning and voice interactions under
              his belt.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-card class="card">
          <ion-card-content>
            <p class="text">
              Douglas began working in the IT industry at an ISP as a network
              technician over fifteen years ago. His career path led him to more
              advanced positions where he eventually was working with C-level
              business leaders as a software sales representative and as a IT
              services consultant. He understands how to communicate with
              business leaders, he knows how important their expectations are,
              and ultimately he knows how to deliver to them. His intrinsic
              interest in the sciences along with an ingrained desire to
              understand how things work have allowed him to keep at the
              forefront of the IT industry. He is a self-starter and fully
              autonomous; but he does enjoy the the company of peers and works
              well in any team. Douglas enjoys that feeling of success achieved
              upon implementing a complex solution that enables a client to
              truly make an impact in their market, and he has every intention
              to continue in that success.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card class="card">
          <ion-card-content>
            <p class="text">
              Currently, Douglas White is considering new projects and/or full
              time work. He is available for conversation, and he welcomes the
              chance to meet you to discuss his background and any opportunities
              in more detail. He is currently residing in Lubbock, and will
              consider local or remote positions and will entertain relocating
              to metropolitan areas of Texas.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
