#landing {
  height: 95vh;
  width: 100vw;
}

/* Main section of each page */
.main {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

/* Centerpiece in main */
.display {
  z-index: 30;
  transform: translateY(-33%);
}

.display-icon {
  filter: drop-shadow(0 0 10px white);
}
/* Call to action button */
.flipInX {
  animation: 2s ease-in-out 2s infinite both flipInX;
}

@keyframes flipInX {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

.image-card {
  border-radius: 15px;
  border: 3px solid var(--ion-color-primary);
  background-color: var(--ion-color-medium);
}

.inner-card {
  border-radius: 15px;
  border: 2px solid var(--ion-color-secondary);
  background-color: var(--ion-color-dark);
  width: 100%;
}

.name {
  color: var(--ion-color-dark);
  text-transform: uppercase;
}

.nameplate-info {
  --background: transparent !important;
  width: 100%;
  font-weight: bold;
}

.myImage {
  border-radius: 15px;
}

.stepperIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-group {
  margin: 5px;
  float: left;
}

.custom-line-css aw-wizard-navigation-bar li::after {
  height: 4px !important;
}

.custom-line-css aw-wizard-navigation-bar {
  width: 100% !important;
  ul.steps-indicator {
    li {
      div.label {
        color: var(--ion-color-secondary) !important;
      }
      div.step-indicator {
        background-color: var(--ion-color-primary) !important;
      }
    }
    li:after {
      background-color: var(--ion-color-primary) !important;
    }

    li:not(.current):not(.done) {
      div.step-indicator {
        background-color: var(--ion-color-secondary) !important;
        filter: opacity(25%);
      }
      div.label {
        color: var(--ion-color-secondary) !important;
        font-family: sofachrome, sans-serif;
        font-size: 5pt;
        filter: opacity(25%);
      }
    }
    li:not(.done):after {
      background-color: var(--ion-color-secondary-shade) !important;
      filter: opacity(25%);
    }
    li.current {
      div.label {
        color: var(--ion-color-secondary-tint) !important;
        font-family: sofachrome, sans-serif;
        font-size:  7pt;
      }
      div.step-indicator {
        background-color: var(--ion-color-secondary-tint) !important;
      }
    }
    li.current:after {
      background-color: var(--ion-color-secondary-tint) !important;
    }
    li.done {
      div.step-indicator {
        background-color: gold !important;
      }
      div.label {
        color: gold !important;
        font-family: sofachrome, sans-serif;
        font-size: 6pt;
      }
    }
    li.done:after {
      background-color: gold !important;
    }
  }
}

.step-list-title {
  font-family: sofachrome, sans-serif;
  font-size: 10pt;
  color: var(--ion-text-color);
  text-transform: uppercase;
  display: block;
  margin-inline: auto;
  border-bottom: 1px solid var(--ion-text-color);
}

.list {
  border-radius: 15px;
  --background: transparent;
}

.list-item {
  --background: transparent;
  ion-text {
    text-transform: capitalize;
  }
}

.item-icon {
  color: var(--ion-color-secondary);
  padding-right: 15px;
}

.slogan {
  padding-bottom: 55px;
}

.slogan-text {
  font-size: large;
  font-style: italic;
  margin: 0 100px 0 100px;
}

.divider-label {
  text-transform: uppercase;
  color: var(--ion-text-color);
  font-family: "Rock Salt", cursive;
  font-size: 8pt;
  font-weight: 500;
  text-align: left;
}

.secondary-button{
  font-family: sofachrome, sans-serif;
  font-size: 12pt;
}
