<div>
  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>

  <ion-icon
    name="arrow-back-outline"
    slot="icon-only"
    CdkStepperPrevious
    size="large"
  ></ion-icon>
  <div *ngFor="let step of steps; index as i; trackBy: step">
    <ion-button
      class="example-step"
      (click)="selectStepByIndex(i)"
      [class.example-active]="selectedIndex === i"
    >
      Step {{ i + 1 }}
    </ion-button>
  </div>
  <ion-icon
    CdkStepperNext
    name="arrow-forward-outline"
    slot="icon-only"
    size="large"
  ></ion-icon>
</div>
