div {
  --animation-time: 2s;
  --box-shadow: inset 0 0 30px white, inset 0 0 10px var(--border-color), 0 0 10px var(--border-color),
    0 0 20px var(--border-color);
  --border-color: var(--ion-color-secondary-tint);
  padding: 2px;
  width: fit-content;
  margin: 6px;
  background-color: var(--ion-color-medium-tint);
  border-radius: 12px;
  animation:  0.2s forwards step-end turnOnBorder,
     2s ease-in-out calc(var(--animation-time) * 5) infinite alternate forwards  both flickerBorder ;
}



p {
  color: var(--ion-color-primary);
  --text-shadow: 0 0 6px white,
    0 0 9px white;
  font-family: "Libre Barcode 128 Text";
  font-weight: 500;
  font-size: 2.3rem;
  margin: 4px;
}

p span {
  opacity: 0.33;
  animation:  n forwards step-end turnOn;
}

p span:nth-child(1) {
  animation-delay: 0.3s;
}

p span:nth-child(2) {
  animation-delay: 0.2s;
}

p span:nth-child(3) {
  animation-delay: 0.4s;
  animation:  0.2s forwards step-end turnOn,  10s calc(var(--animation-time) * 5) infinite step-end  flicker;
}

p span:nth-child(4) {
  animation-delay: 0.3s;
}

p span:nth-child(5) {
  animation-delay: 0.2s;
}

p span:nth-child(6) {
  animation-delay: 0.4s;
}

p span:nth-child(7) {
  animation:  1.2s forwards step-end turnOn, 0.65s calc(var(--animation-time) * 5) infinite step-end flicker;
}

p span:nth-child(8) {
  animation-delay: 0.3s;
}

p span:nth-child(9) {
  animation-delay: 0.2s;
}

p span:nth-child(10) {
  animation-delay: 0.4s;
}

p span:nth-child(11) {
  animation-delay: 0.3s;
}

p span:nth-child(12) {
  animation-delay: 0.2s;
}

p span:nth-child(13) {
  animation-delay: 0.4s;
}

p span:last-child {
  animation: turnOn 0.27s forwards step-end,
     1s calc(var(--animation-time) * 5) infinite step-end flicker;
}

@keyframes turnOnBorder {
  100%{
    border: 4px solid var(--border-color);
    box-shadow: var(--box-shadow);
    opacity: 1;

  }
}

@keyframes turnOn {
  100% {
    text-shadow: var(--text-shadow);
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    text-shadow: var(--text-shadow);
  }
  100% {
    text-shadow: none;
    opacity: 0.1;
  }
}

@keyframes flickerBorder {
  0% {
    opacity: 0.21;

  }
  25%{
    // opacity: 0.81;
  --border-color: var(--ion-color-secondary-tint);

  }
  50% {
    // opacity: 0.31;
    --border-color: transparent;

  }
  100% {
    opacity: 1;
  --border-color: var(--ion-color-secondary-tint);
  }
}

span {
  text-transform: lowercase;
}
