.items {
  border-radius: 15px !important;
  box-shadow: 0 0 8px white;
}

.submitButton {
  --background: var(--ion-color-tertiary-tint);
}

.input-icon {
  margin-right: 5px;
}

ion-grid {
  min-height: 100vh;
  width: 100%;
}

/* For Contact card */
.textarea {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  --placeholder-opacity: 0.5;
}
