<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <app-neon routerLink="/tabs/about" class="neon"></app-neon>
    <!-- <ion-buttons slot="end"> -->

    <app-toggle slot="end" class="toggle"></app-toggle>
    <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col
        size-xs="12"
        size-sm="12"
        size-md="6"
        size-lg="4"
        size-xl="3"
        class="ion-align-self-center"
      >
        <ion-card
          class="
            card
            contact-card
            ion-no-padding ion-margin-vertical ion-text-center
          "
        >
          <ion-card-header class="ion-text-center">
            <ion-card-title class="title"> Contact Douglas </ion-card-title>
            <ion-card-subtitle
              ><ion-text class="sub-heading">
                Send contact & opportunity info
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-margin-vertical">
            <!-- <pre> {{ results | json }} </pre> -->
            <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
              <ion-item class="items ion-margin-vertical" lines="none">
                <ion-label class="label-color" position="stacked"
                  >Name</ion-label
                >
                <ion-input
                  debounce="600"
                  type="text"
                  inputmode="text"
                  autocomplete="name"
                  placeholder=""
                  maxlength="30"
                  minlength="3"
                  formControlName="name"
                  autocomplete="name"
                  autocapitalize="words"
                  enterkeyhint="next"
                  minlength="3"
                  maxlength="27"
                  required
                >
                  <ion-icon
                    class="input-icon"
                    color="tertiary"
                    slot="none"
                    name="person-sharp"
                  ></ion-icon>
                </ion-input>
              </ion-item>
              <ion-item class="items" lines="none">
                <ion-label class="label-color" position="stacked"
                  >Email</ion-label
                >

                <ion-input
                  debounce="600"
                  type="email"
                  inputmode="email"
                  enterkeyhint="next"
                  formControlName="email"
                  autocomplete="email"
                >
                  <ion-icon
                    class="input-icon"
                    color="tertiary"
                    slot="none"
                    name="mail-sharp"
                  ></ion-icon>
                </ion-input>
              </ion-item>
              <ion-item class="items ion-margin-top" lines="none">
                <ion-label class="label-color" position="stacked"
                  >Message</ion-label
                >
                <ion-textarea
                  debounce="600"
                  class="textarea"
                  inputmode="text"
                  maxlength="3000"
                  placeholder="Provide info about opportunity and/or phone number"
                  auto-grow="true"
                  type="text"
                  rows="10"
                  spellcheck="true"
                  wrap="hard"
                  formControlName="message"
                  enterkeyhint="enter"
                  autocapitalize="sentences"
                  minlength="10"
                  required
                >
                </ion-textarea>
              </ion-item>
              <hr />
              <ion-button
                type="submit"
                shape="round"
                size="large"
                class="submitButton"
                [disabled]="!emailForm.valid"
                >Submit</ion-button
              >
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer class="footer"></app-footer>
</ion-content>
