.textarea {
}

.items {
  --background: transparent;
  // --border-radius: 15px;
}

ion-label{
  --color:  var(--ion-color-secondary);
}

ion-textarea,
ion-input {
  border-radius: 15px !important;
  --background: grey !important;
  margin-top: 5px;
  --padding-start: 5px;
}

ion-card {
  width: 500px;
}

.card-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
