ion-item {
  padding: 5 0;
}

ion-grid {
  min-height: 100vh;
  width: 100vw;
}

ion-card-subtitle,
p {
  color: var(--ion-text-color);
}

.center {
  height: 100% !important;
  place-content: center;
  display: flex;
}

ion-label {
  color: var(--ion-color-warning);
}
