ion-tab-button {
  --color: var(--ion-text-color);
  --background-focused: var(--ion-color-primary-tint);
  --background-selected: var(--ion-color-primary-tint );
  --color-selected: var(--ion-color-tertiary);
  --color-focused: var(--ion-color-tertiary);
  --ripple-color: var(--ion-color-tertiary);
}
