ion-tab-button {
  --color: var(--ion-color-light);
  --background-focused: var(--ion-color-medium);
  --background-selected: var(--ion-color-medium);
  --color-selected: var(--ion-color-tertiary);
  --color-focused: var(--ion-color-tertiary);
  --ripple-color: var(--ion-color-secondary);
}
