ion-tab-button {
  --color: var(--ion-text-color);
  --color-selected: var(--ion-color-tertiary);
  --color-focused: var(--ion-color-tertiary-tint);
  --ripple-color: var(--ion-color-tertiary-shade);
}
