<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" class="icon-buttons">
      <ion-icon
        src="../../../assets/logo.svg"
        routerLink="/tabs/about"
        class="header-icon"
      ></ion-icon>
    </ion-buttons>
    <ion-title size="small" class="heading ion-text-uppercase">
      DouglasWhite.app
    </ion-title>
    <app-toggle slot="end"></app-toggle>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <!-- <ion-header collapse="condense">
    <ion-toolbar class="collapse">
      <ion-title
        size="small"
        class="heading ion-text-uppercase"
        color="tertiary"
      >
        DouglasWhite.app
      </ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-grid class="main">
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-card class="ion-text-center">
          <div class="container">
            <a href="https://xfitness.studio" target="_blank"
              ><img src="../../assets/xfitness_studio.png" class="projects"
            /></a>
          </div>
        </ion-card>
        <ion-title>XFitness Studio</ion-title>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-card class="ion-text-center">
          <div class="container">
            <a href="" target="_blank"
              ><img src="../../assets/xfitness_studio.png" class="projects"
            /></a>
          </div>
        </ion-card>
        <ion-title>XFitness Studio</ion-title>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-card class="ion-text-center">
          <div class="container">
            <a href="" target="_blank"
              ><img src="../../assets/xfitness_studio.png" class="projects"
            /></a>
          </div>
        </ion-card>
        <ion-title>XFitness Studio</ion-title>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-card class="ion-text-center">
          <div class="container">
            <a href="" target="_blank"
              ><img src="../../assets/xfitness_studio.png" class="projects"
            /></a>
          </div>
        </ion-card>
        <ion-title>XFitness Studio</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer class="footer"></app-footer>
</ion-content>
