.puter {
  display: block;
  margin: auto;
  height: 20rem;
  width: 20rem;
}

.projects {
  display: block;
  margin: auto;
  border-radius: 0.9rem;
}

.container {
  margin: auto;
  padding: 0.3rem;
  text-align: center;
}

.link {
  color: white;
}
