.header {
  text-align: center;
  font-size: 20pt;
}

.puter {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
}

.projects {
  display: block;
  margin: auto;
  border-radius: 15px;
}

.container {
  margin: auto;
  padding: 5px;
  text-align: center;
}

.link {
  color: var(--ion-color-tertiary);
}

ion-grid {
  height: 100vh;
}
