  <ion-app>
    <ion-header [translucent]="true" class="header">
      <ion-toolbar>
        <app-neon routerLink="/tabs/about" class="neon"></app-neon>
        <ion-buttons slot="end">
          <ion-icon size="large" color="warning" name="sunny"></ion-icon>
          <ion-toggle id="toggle" [checked]="checked"></ion-toggle>
          <ion-icon size="large" color="light" name="moon"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet></ion-router-outlet>
  </ion-app>
