<app-stepper>
  <cdk-step>
    <ion-text
      class="ion-text-wrap"
      style="color: var(--ion-text-color); font-size: small"
    >
      About Me
    </ion-text>
    <h2 class="step-list-title">About Me</h2>
    <p class="text ion-text-left" style="color: var(--ion-text-color)">
      Working as a fullstack JavaScript/TypeScript web application engineer
      since 2017, I have worked on projects by myself and as part of large
      teams. I develop mobile first, reactive, and hybrid native mobile apps
      using Ionic and Angular. Occasionally, I have worked with React.
    </p>
  </cdk-step>
  <cdk-step>
    <ion-text
      class="ion-text-wrap"
      style="color: var(--ion-text-color); font-size: small"
      >History</ion-text
    >
    <h2 class="step-list-title">Work History</h2>
    <p class="text ion-text-left" style="color: var(--ion-text-color)">
      I have been working in the industry since 2000, starting my career at an
      ISP as tech support. I have also worked in sales as an IT Services
      Consultant. With such a broad spectrum within the IT industry, I know how
      to get the job done efficiently and I understand how to communicate
      effectively with colleagues, clients, decision makers & owners.
    </p>
  </cdk-step>
  <cdk-step>
    <ion-text
      class="ion-text-wrap"
      style="color: var(--ion-text-color); font-size: small"
    >
      Front-end
    </ion-text>
    <ion-list lines="none" class="list ion-no-padding ion-margin">
      <div class="list-header ion-text-center">
        <h2 class="step-list-title">Frontend Skills</h2>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col class="list-col ion-align-items-center">
            <ion-item-group>
              <ion-list-header class="divider">
                <ion-text class="divider-label">Frameworks</ion-text>
              </ion-list-header>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>
                  Ionic
                  <ion-icon name="logo-ionic"></ion-icon>
                </ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  >Angular
                  <ion-icon size="small" name="logo-angular"></ion-icon>
                </ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Express</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  >React <ion-icon name="logo-react"></ion-icon
                ></ion-text>
              </ion-item>
            </ion-item-group>
          </ion-col>

          <ion-col class="list-col ion-align-items-center">
            <ion-item-group>
              <ion-list-header class="divider">
                <ion-text class="divider-label">Ui/Ux</ion-text>
              </ion-list-header>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Material Design</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  >Ionic <ion-icon name="logo-ionic"></ion-icon
                ></ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  >Figma
                  <ion-icon name="logo-figma"></ion-icon>
                </ion-text>
              </ion-item>
            </ion-item-group>
          </ion-col>
          <ion-col class="list-col ion-align-items-center">
            <ion-item-group>
              <ion-list-header class="divider">
                <ion-text class="divider-label"> Tools </ion-text>
              </ion-list-header>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Azure Pipelines</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  ><ion-icon name="logo-github"></ion-icon> Actions</ion-text
                >
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>TypeScript</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Jest</ion-text>
              </ion-item>
            </ion-item-group>
          </ion-col>
          <ion-col class="list-col ion-align-items-center">
            <ion-item-group>
              <ion-list-header class="divider">
                <ion-text class="divider-label">Native</ion-text>
              </ion-list-header>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>
                  <ion-icon name="push-outline"></ion-icon>
                  Push Msgs</ion-text
                >
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="SMS Messaging"
                    fontIcon="sms"
                  ></mat-icon>
                  SMS
                </ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  >Camera
                  <ion-icon name="camera-outline"></ion-icon>
                </ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  >Analytics
                  <ion-icon name="analytics-outline"></ion-icon>
                </ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-label>
                  <ion-icon name="qr-code-outline"></ion-icon>
                  Scanner
                </ion-label>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-label>
                  <ion-icon name="barcode-outline"></ion-icon>
                  Scanner
                </ion-label>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-label>
                  File
                  <ion-icon name="download-outline"></ion-icon> &
                  <ion-icon name="cloud-upload-outline"></ion-icon>
                </ion-label>
              </ion-item>
            </ion-item-group>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </cdk-step>
  <cdk-step>
    <ion-text
      class="ion-text-wrap"
      style="color: var(--ion-text-color); font-size: small"
      >Back-end</ion-text
    >
    <ion-list
      lines="none"
      class="list ion-no-padding ion-margin"
      color="medium"
    >
      <div class="list-header ion-text-center">
        <h2 class="step-list-title">Backend Skills</h2>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col class="list-col">
            <ion-item-group>
              <ion-list-header class="divider">
                <ion-text class="divider-label">Cloud Services</ion-text>
              </ion-list-header>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Firebase</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Serverless</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon
                ><ion-icon name="logo-google"></ion-icon>
                <ion-text>GCP</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  ><ion-icon name="logo-microsoft"></ion-icon> Azure</ion-text
                >
              </ion-item>
            </ion-item-group>
          </ion-col>
          <ion-col class="list-col">
            <ion-item-group>
              <ion-list-header class="divider">
                <ion-text class="divider-label">Databases</ion-text>
              </ion-list-header>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon
                ><ion-icon name="logo-firebase"></ion-icon>
                <ion-text>Firestore</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>CosmosDB</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>MongoDB</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Azure SQL</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>MySQL</ion-text>
              </ion-item>
            </ion-item-group>
          </ion-col>
          <ion-col class="list-col ion-align-items-center">
            <ion-item-group>
              <ion-list-header class="divider">
                <ion-text class="divider-label">Platforms</ion-text>
              </ion-list-header>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  ><ion-icon name="desktop-outline"></ion-icon>Desktop</ion-text
                >
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text class="ion-text-lowercase"
                  ><ion-icon name="logo-apple-appstore"></ion-icon>i</ion-text
                ><ion-text>OS</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  ><ion-icon name="logo-google-playstore"></ion-icon
                  >Android</ion-text
                >
              </ion-item>
            </ion-item-group>
          </ion-col>
          <ion-col class="list-col">
            <ion-item-group>
              <ion-list-header class="divider">
                <ion-text class="divider-label">SDKs</ion-text>
              </ion-list-header>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Express</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>Twilio</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  >Stripe & <ion-icon name="logo-paypal"></ion-icon
                ></ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  ><ion-icon name="logo-microsoft"></ion-icon> Graph</ion-text
                >
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text
                  >D3 &
                  <ion-icon name="bar-chart-outline"></ion-icon>.</ion-text
                ><ion-text class="ion-text-lowercase">js</ion-text>
              </ion-item>
              <ion-item class="list-item"
                ><ion-icon
                  name="flask-sharp"
                  class="item-icon"
                  size="small"
                ></ion-icon>
                <ion-text>ngx-datatable+</ion-text>
              </ion-item>
            </ion-item-group>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              class="ion-margin-vertical"
              routerLink="/resume"
              color="secondary"
            >
              <ion-text class="secondary-button" color="tertiary"
                >View Resume</ion-text
              ><ion-icon
                name="document-text-outline"
                slot="end"
                color="tertiary"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </cdk-step>
</app-stepper>
