<ion-content class="content ion-text-center">
  <h2 class="sofa">RESUME</h2>
  <ngx-extended-pdf-viewer
    class="pdf-viewer"
    [src]="'../../assets/Resume_Douglas_White.pdf'"
    filenameForDownload="Douglas_White_Resume"
    height="95vh"
    zoom="auto"
    [showBorders]="true"
    [showPropertiesButton]="true"
    [showPagingButtons]="true"
    [showBookmarkButton]="true"
    [showSecondaryToolbarButton]="false"
    [showSidebarButton]="false"
    [showRotateButton]="false"
    [useBrowserLocale]="true"
    [enablePinchOnMobile]="true"
  >
  </ngx-extended-pdf-viewer>
  <app-footer class="footer"></app-footer>
</ion-content>
