<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-icon
        src="../../../assets/logo.svg" routerLink="/tabs/about"
        class="header-icon"
      ></ion-icon>
    </ion-buttons>
    <ion-title size="small" class="heading ion-text-uppercase" >
      DouglasWhite.app
    </ion-title>
    <app-toggle slot="end"></app-toggle>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
    <ngx-extended-pdf-viewer
    src="../../assets/04262021_Douglas_White_Resume.pdf"
    filenameForDownload="04262021_Douglas_White_Resume"
    height="100vh"
    [zoom]="'auto'"
    backgroundColor="#313131"
    [showPropertiesButton]="false"
    [showOpenFileButton]="false"
    [showPagingButtons]="false"
    [showBookmarkButton]="false"
    [showSecondaryToolbarButton]="false"
    [showSidebarButton]="false"

    >
  </ngx-extended-pdf-viewer>
<app-footer></app-footer>
  </ion-content>
