/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=BioRhyme+Expanded&family=Rock+Salt&family=Prompt&display=swap');

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Ion Toolbar */
// ion-toolbar, ion-tab-bar{
//   --background: var(--ion-color-medium);
// }
/* Genearl Text for Paragraph Readability */
.heading{
  font-family: 'BioRhyme Expanded', cursive;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--ion-color-secondary-shade);
}
.sub-heading{
  color: var(--ion-color-tertiary);
  font-family: 'Prompt', cursive;
  // font-size: 17px;
  // font-weight: 700;
  text-transform: capitalize;
}
.text{
  font-family: 'Prompt', cursive;
  font-size: 16px;
}
/* Ratings/Testimonials */
.display{
  font-family: 'Rock Salt', cursive;
  font-size: 32px;
  text-transform: capitalize;
}


