div {
  --animation-time: 2s;
  --delay-time: 3s;
  border-color: var(--ion-color-secondary-tint);
  padding: 2px;
  width: fit-content;
  margin: 6px;
  background-color: var(--ion-color-medium-tint);
  border-radius: 12px;
  box-shadow: inset 0 0 30px white, inset 0 0 10px var(--border-color),
    0 0 10px var(--border-color), 0 0 20px var(--border-color);
}

p {
  color: var(--ion-color-primary);
  text-shadow: 0 0 6px white, 0 0 9px white;
  font-family: "Libre Barcode 128 Text";
  font-weight: 500;
  font-size: 2.3rem;
  margin: 4px;
}

p span {
  opacity: 1;
}

span {
  text-transform: lowercase;
}
