<svg
  width="200px"
  height="200px"
  viewBox="0 0 400 400"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g id="big_picture">
    <path
      id="background"
      d="M200 400C310.457 400 400 310.457 400 200C400 89.5431 310.457 0 200 0C89.543 0 0 89.5431 0 200C0 310.457 89.543 400 200 400Z"
      fill="#5D536C"
      stroke="#E3DBE2"
      stroke-width="3.7"
      stroke-miterlimit="10"
      stroke-linecap="round"
    />
    <g id="flask">
      <g id="flask_2">
        <path
          id="outer"
          d="M172.521 79.7596V135.091C172.52 142.252 170.559 149.266 166.865 155.323L95.3564 272.42C81.1531 295.677 97.3142 325.994 123.906 325.994H276.094C302.686 325.994 318.847 295.677 304.644 272.42L233.129 155.323C229.437 149.265 227.478 142.251 227.479 135.091V79.7596"
          stroke="#C8B7BE"
          stroke-width="10"
          stroke-miterlimit="10"
        />
        <path
          id="inner"
          d="M173.174 79.7596V135.091C173.173 142.252 171.197 149.266 167.473 155.323L95.4009 272.42C81.0857 295.677 97.3742 325.994 124.176 325.994H277.563C304.365 325.994 320.653 295.677 306.338 272.42L234.26 155.323C230.539 149.265 228.564 142.251 228.565 135.091V79.7596"
          stroke="#E3DBE2"
          stroke-width="3.7"
          stroke-miterlimit="10"
        />
      </g>
      <path
        id="lid2"
        opacity="0.997"
        d="M207.947 73.7655H192.053C179.34 73.7655 169.035 75.3711 169.035 77.3518V77.7153C169.035 79.696 179.34 81.3016 192.053 81.3016H207.947C220.66 81.3016 230.965 79.696 230.965 77.7153V77.3518C230.965 75.3711 220.66 73.7655 207.947 73.7655Z"
        stroke="#C8B7BE"
        stroke-width="9.2"
        stroke-miterlimit="10"
      />
      <g id="lid" opacity="0.997" filter="url(#filter0_f)">
        <path
          d="M209.1 73.7503H192.06C179.347 73.7503 169.042 75.3559 169.042 77.3366V78.331C169.042 80.3117 179.347 81.9173 192.06 81.9173H209.1C221.812 81.9173 232.117 80.3117 232.117 78.331V77.3366C232.117 75.3559 221.812 73.7503 209.1 73.7503Z"
          stroke="#E3DBE2"
          stroke-width="3.2"
          stroke-miterlimit="10"
        />
      </g>
    </g>
    <g id="liquid">
      <path
        id="darker_liquid"
        d="M120.803 322.721C118.657 322.483 115.707 321.799 113.746 321.083C104.76 317.807 97.7848 310.387 94.7101 300.835C92.2043 293.05 92.695 284.922 96.1079 277.678C96.8073 276.193 103.228 265.407 110.375 253.709L116.087 243.198L142.495 238.011C177.251 232.497 240.45 260.596 280.671 239.33C285.716 246.832 283.649 244.697 288.694 252.199C297.065 264.644 303.282 276.245 303.725 277.147C305.745 281.269 306.786 285.893 306.801 290.818C306.828 299.739 303.552 307.729 297.315 313.955C292.394 318.866 286.502 321.777 279.748 322.633C277.802 322.88 123.011 322.965 120.803 322.721V322.721Z"
        fill="#FF00F5"
      />
      <path
        id="brright_liquid"
        d="M118.675 322.41C109.391 320.797 101.175 314.576 96.7734 305.825C94.2287 300.766 93.2102 296.531 93.2038 290.98C93.1978 285.853 94.1714 281.519 96.3084 277.16C97.1723 275.398 111.316 251.929 111.948 251.208C112.051 251.091 113.223 251.172 114.554 251.388C132.201 254.944 154.376 262.733 187.077 256.579C223.115 249.797 269.481 229.235 280.671 239.33C281.306 240.081 302.92 275.593 303.689 277.16C305.796 281.456 306.791 285.839 306.799 290.854C306.805 294.721 306.477 297.004 305.416 300.49C302.42 310.333 294.749 318.339 285.397 321.384C280.765 322.892 286.054 322.806 199.753 322.779C134.412 322.758 120.308 322.694 118.675 322.41V322.41Z"
        fill="#041DFF"
      />
    </g>
    <g id="outer_bubbles">
      <g id="main_bubble">
        <g id="path1055" opacity="0.997" filter="url(#filter9_f)">
          <path
            d="M153.557 226.221C157.707 226.221 161.071 222.743 161.071 218.453C161.071 214.162 157.707 210.684 153.557 210.684C149.408 210.684 146.044 214.162 146.044 218.453C146.044 222.743 149.408 226.221 153.557 226.221Z"
            fill="#00FF0A"
          />
        </g>

        <g id="circle1179" opacity="0.997" filter="url(#filter13_f)">
          <path
            d="M208.404 201.413C211.238 201.413 213.536 199.038 213.536 196.108C213.536 193.178 211.238 190.803 208.404 190.803C205.57 190.803 203.273 193.178 203.273 196.108C203.273 199.038 205.57 201.413 208.404 201.413Z"
            fill="#00FF0A"
          />
        </g>
      </g>
      <g id="third_bubble">
        <g id="path1061" opacity="0.997" filter="url(#filter11_f)">
          <path
            d="M162.547 202.825C164.581 202.825 166.23 201.12 166.23 199.017C166.23 196.915 164.581 195.21 162.547 195.21C160.513 195.21 158.865 196.915 158.865 199.017C158.865 201.12 160.513 202.825 162.547 202.825Z"
            fill="#00FF0A"
          />
        </g>
        <g id="path1053" opacity="0.997" filter="url(#filter15_f)">
          <path
            d="M222.394 233.069C227.312 233.069 231.299 228.947 231.299 223.862C231.299 218.777 227.312 214.655 222.394 214.655C217.476 214.655 213.489 218.777 213.489 223.862C213.489 228.947 217.476 233.069 222.394 233.069Z"
            fill="#00FF0A"
          />
        </g>
      </g>
      <g id="second_bubble">
        <g id="path1059" opacity="0.997" filter="url(#filter10_f)">
          <path
            d="M208.803 176.488C210.145 176.488 211.233 175.364 211.233 173.976C211.233 172.588 210.145 171.464 208.803 171.464C207.461 171.464 206.373 172.588 206.373 173.976C206.373 175.364 207.461 176.488 208.803 176.488Z"
            fill="#00FF0A"
          />
        </g>

        <g id="circle1177" opacity="0.997" filter="url(#filter12_f)">
          <path
            d="M173.339 189.878C174.972 189.878 176.297 188.509 176.297 186.82C176.297 185.131 174.972 183.761 173.339 183.761C171.705 183.761 170.381 185.131 170.381 186.82C170.381 188.509 171.705 189.878 173.339 189.878Z"
            fill="#00FF0A"
          />
        </g>

        <g id="circle1181" opacity="0.997" filter="url(#filter14_f)">
          <path
            d="M229.994 188.829C232.428 188.829 234.401 186.789 234.401 184.273C234.401 181.756 232.428 179.717 229.994 179.717C227.56 179.717 225.587 181.756 225.587 184.273C225.587 186.789 227.56 188.829 229.994 188.829Z"
            fill="#00FF0A"
          />
        </g>

        <g id="circle5351" opacity="0.997" filter="url(#filter16_f)">
          <path
            d="M188.582 220.145C193.501 220.145 197.488 216.023 197.488 210.938C197.488 205.853 193.501 201.731 188.582 201.731C183.664 201.731 179.677 205.853 179.677 210.938C179.677 216.023 183.664 220.145 188.582 220.145Z"
            fill="#00FF0A"
          />
        </g>
      </g>
      <g id="white_shade">
        <g id="path1475" opacity="0.997" filter="url(#filter17_f)">
          <path
            d="M155.658 227.142C159.54 227.142 162.686 223.889 162.686 219.876C162.686 215.863 159.54 212.61 155.658 212.61C151.777 212.61 148.631 215.863 148.631 219.876C148.631 223.889 151.777 227.142 155.658 227.142Z"
            fill="#00FF0A"
          />
        </g>
        <g id="path1627" opacity="0.997" filter="url(#filter18_f)">
          <path
            d="M209.563 201.501C212.044 201.501 214.055 199.422 214.055 196.857C214.055 194.292 212.044 192.213 209.563 192.213C207.083 192.213 205.071 194.292 205.071 196.857C205.071 199.422 207.083 201.501 209.563 201.501Z"
            fill="#00FF0A"
          />
        </g>
        <g id="path2243" opacity="0.997" filter="url(#filter19_f)">
          <path
            d="M224.93 232.925C229.251 232.925 232.754 229.303 232.754 224.836C232.754 220.368 229.251 216.746 224.93 216.746C220.608 216.746 217.105 220.368 217.105 224.836C217.105 229.303 220.608 232.925 224.93 232.925Z"
            fill="#00FF0A"
          />
        </g>
        <g id="path2517" opacity="0.997" filter="url(#filter20_f)">
          <path
            d="M163.127 203.574C165.047 203.574 166.604 201.964 166.604 199.978C166.604 197.993 165.047 196.383 163.127 196.383C161.206 196.383 159.649 197.993 159.649 199.978C159.649 201.964 161.206 203.574 163.127 203.574Z"
            fill="#00FF0A"
          />
        </g>
        <g id="path2523" opacity="0.997" filter="url(#filter21_f)">
          <path
            d="M230.574 189.516C232.894 189.516 234.776 187.571 234.776 185.172C234.776 182.772 232.894 180.827 230.574 180.827C228.253 180.827 226.372 182.772 226.372 185.172C226.372 187.571 228.253 189.516 230.574 189.516Z"
            fill="#00FF0A"
          />
        </g>
      </g>
      <g id="white_shade_two">
        <g id="path2525" opacity="0.997" filter="url(#filter22_f)">
          <path
            d="M209.298 176.685C210.545 176.685 211.556 175.64 211.556 174.35C211.556 173.061 210.545 172.016 209.298 172.016C208.051 172.016 207.04 173.061 207.04 174.35C207.04 175.64 208.051 176.685 209.298 176.685Z"
            fill="#00FF0A"
          />
        </g>
        <g id="circle2529" opacity="0.997" filter="url(#filter23_f)">
          <path
            d="M173.918 190.415C175.359 190.415 176.526 189.208 176.526 187.718C176.526 186.229 175.359 185.022 173.918 185.022C172.478 185.022 171.31 186.229 171.31 187.718C171.31 189.208 172.478 190.415 173.918 190.415Z"
            fill="#00FF0A"
          />
        </g>
        <g id="circle5353" opacity="0.997" filter="url(#filter24_f)">
          <path
            d="M191.698 221.2C196.019 221.2 199.522 217.578 199.522 213.11C199.522 208.642 196.019 205.021 191.698 205.021C187.376 205.021 183.873 208.642 183.873 213.11C183.873 217.578 187.376 221.2 191.698 221.2Z"
            fill="#00FF0A"
          />
        </g>
      </g>
    </g>
  </g>
  <defs>
    <filter
      id="filter0_f"
      x="166.551"
      y="71.2586"
      width="68.0579"
      height="13.1504"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.445837" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter1_f"
      x="150.411"
      y="230.761"
      width="18.1791"
      height="18.7829"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur
        stdDeviation="0.0920931"
        result="effect1_foregroundBlur"
      />
    </filter>
    <filter
      id="filter2_f"
      x="152.846"
      y="233.002"
      width="19.5401"
      height="20.1438"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.432326" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter3_f"
      x="146.934"
      y="232.933"
      width="18.1792"
      height="18.7829"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur
        stdDeviation="0.0920931"
        result="effect1_foregroundBlur"
      />
    </filter>
    <filter
      id="filter4_f"
      x="213.385"
      y="240.134"
      width="20.712"
      height="21.3563"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.42653" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter5_f"
      x="204.041"
      y="245.423"
      width="22.2023"
      height="22.8662"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.654207" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter6_f"
      x="209.268"
      y="238.063"
      width="19.8419"
      height="20.4862"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.209" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter7_f"
      x="209.494"
      y="237.249"
      width="16.3008"
      height="16.6692"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="1.35835" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter8_f"
      x="153.653"
      y="229.325"
      width="12.8553"
      height="13.1156"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="1.29391" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter9_f"
      x="144.444"
      y="209.085"
      width="18.2269"
      height="18.7363"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.799822" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter10_f"
      x="205.117"
      y="170.207"
      width="7.37301"
      height="7.53777"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.62824" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter11_f"
      x="157.176"
      y="193.522"
      width="10.7417"
      height="10.9913"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.844196" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter12_f"
      x="169.381"
      y="182.762"
      width="7.91457"
      height="8.11512"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.499671" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter13_f"
      x="201.539"
      y="189.069"
      width="13.7302"
      height="14.078"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.866828" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter14_f"
      x="223.27"
      y="177.4"
      width="13.4475"
      height="13.7462"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="1.1584" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter15_f"
      x="212.138"
      y="213.304"
      width="20.5128"
      height="21.1166"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.675509" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter16_f"
      x="178.326"
      y="200.38"
      width="20.5128"
      height="21.1166"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="0.675509" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter17_f"
      x="139.987"
      y="203.966"
      width="31.3428"
      height="31.8192"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="4.32189" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter18_f"
      x="196.428"
      y="183.569"
      width="26.2713"
      height="26.5758"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="4.32189" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter19_f"
      x="208.461"
      y="208.102"
      width="32.9367"
      height="33.4671"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="4.32189" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter20_f"
      x="151.005"
      y="187.739"
      width="24.2427"
      height="24.4785"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="4.32189" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter21_f"
      x="217.728"
      y="172.183"
      width="25.6917"
      height="25.9766"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="4.32189" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter22_f"
      x="198.396"
      y="163.372"
      width="21.8043"
      height="21.9574"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="4.32189" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter23_f"
      x="162.666"
      y="176.378"
      width="22.5039"
      height="22.6808"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="4.32189" result="effect1_foregroundBlur" />
    </filter>
    <filter
      id="filter24_f"
      x="175.229"
      y="196.377"
      width="32.9366"
      height="33.4671"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="4.32189" result="effect1_foregroundBlur" />
    </filter>
  </defs>
</svg>
