
.footer {
  --background: var(--ion-color-medium);
  --min-height: 20vh;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  --padding-top: 5px;
  --padding-bottom: 5px;
}

.link-icon{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 10px;
}

.twitter {
  color: #1d9bf0;
}

.github{
  color: snow;
}

.stack {
  color: snow;
}

.linkedin {
  margin-right: 5px;
  color: blue;
}
