.footer-toolbar {
  --min-height: 20vh;
  width: 100%;
}

.link-icon {
  position: absolute;
  padding-left: 20px;
  top: 10px;
}

.icon {
  margin-right: 15px;
  font-size: 36px;
}

.twitter {
  color: #1d9bf0;
}

.github {
  color: snow;
}

.stack {
  color: snow;
}

.linkedin {
  margin-right: 5px;
  color: blue;
}

.copyright {
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}
