.link-icon {
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}

.icon {
  margin-left: 15px;
  font-size: 36px;
}

.github {
  color: snow;
}

.stack {
  color: snow;
}

.linkedin {
  margin-right: 10px;
  color: white;
}

/* Logo in toolbars */
.logo {
  padding-left: 50px;
  padding-bottom: 10px;
  height: 140px;
}
